<div class="sidebar"></div>

<div class="content-panel clearfix">
  <p class="tip">
    <i class="fa fa-lightbulb-o"></i>
    Notes are great for reviewing a restaurant! Only you and your friends can see them.
    <br><br>
    <i class="fa fa-lightbulb-o"></i>
    Is this your favorite restaurant? Have you visisted it? Try clicking the ✓ and ♥ badges!
  </p>

  <h2><%= restaurant.escape("name") %></h2>

  <div class="badge">
    <a class="visited nope">✓</a>
    <p id='visited-text'>Haven't been.</p>
    <a class="favorite nope">♥</a>
    <p id='favorite-text'>Not my favorite.</p>
  </div>

  <div>
    <img class="photo cover" src='images/clear.png' style="background-image: url(<%= restaurant.escape('image_url') %>)">
    <div class="map-container map-square"></div>
  </div>

  <section class="stats">
    <p class="address">
      <i class="fa fa-fw fa-map-marker"></i>
      <% if (restaurant.escape("address")) { %>
        <%= restaurant.escape("address") %>,
      <% } %>
      <%= restaurant.escape("city") %>
      <%= restaurant.escape("state") %>
      <%= restaurant.escape("zip") %>
    </p>

    <p>
      <i class="fa fa-fw fa-list-ul"></i>
      <%= restaurant.categories().join(', ') %>
    </p>

    <p>
      <i class="fa fa-fw fa-home"></i>
      <%= restaurant.escape("neighborhoods").replace(",", ", ") %>
    </p>

    <p>
      <i class="fa fa-fw fa-yelp"></i>
      <img class="rating" src="<%= restaurant.escape('rating_img_url')%>">
    </p>
  </section>

  <h3>Your notes</h3>
  <section class="description">
    <p class="notes">
      <% if (restaurant.dining().escape("notes")) { %>
        <%= restaurant.dining().escape("notes") %>
        <a href="javascript:void(0)">Add a note.</a>
      <% } else { %>
        No note. <a href="javascript:void(0)">Edit this note!</a>
      <% }  %>
    </p>
  </section>

  <h3>In your lists</h3>
  <ul class="list-list">
    <% restaurant.lists().forEach(function(list) { %>
      <li><%= list %></li>
    <% }) %>
  </ul>
</div>
