<form action="<%= action %>" method="post">
  <%= csrf_tag %>
  <%= render "shared/errors" %>

  <label for="user_username">Username</label>
  <input type="text"
         name="user[username]"
         id="user_username"
         value="<%= user.username %>">
  <br>

  <label for="user_password">Password</label>
  <input type="password"
         name="user[password]"
         id="user_password"
         value="<%= user.password %>">
  <br>

  <input type="submit" class="enter with-creds" value="<%= submit_caption %>">
  <button class="enter as-guest">Enter as Guest</button>
</form>

<script>
  $(function() {
    $('.as-guest').click(function(event) {
      event.preventDefault();
      $.ajax({
        url: '/guest',
        success: function (result) {
          window.location.replace('/');
        },
      });
    });
  });
</script>
